html {
    background-color: white;
    font-family: verdana;
}

header * {
    padding: 20px;

    color: steelblue;
    font-family: verdana;
    text-align: right;
    text-decoration: none;
    font-size: 24px
}

div * {
    text-align: center;
}

title * {
    text-align: center;
    font-size: 24px;    
}

h1 * {
    color: white;
}

p * {
    font-family: verdana;
    color: white;
}
