<!--
    Emaan Asif, James Lei, Kiran Soemardjo, Lucas Zheng
    SoftDev 2025
    P00
  -->

<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %} - BlogHub</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <header>
      <nav>
        <div>
          <a href="{{ url_for('home_get') }}">BlogHub</a>
        </div>
        <div>
          {% if 'username' in session.keys() %}
          <a href="{{ url_for('profile_get') }}">My Profile</a>
          <a href="{{ url_for('auth.logout_get') }}">Log Out</a>
          {% else %}
          <a href="{{ url_for('auth.login_get') }}">Log In</a>
          <a href="{{ url_for('auth.signup_get') }}">Sign Up</a>
          {% endif %}
        </div>
      </nav>
    </header>
    
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="flashes">
          <ul>
          {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
          </ul>
        </div>
      {% endif %}
    {% endwith %}
    
    <main class="content">
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>