<!--
    Emaan Asif, James Lei, Kiran Soemardjo, Lucas Zheng
    SoftDev 2025
    P00
  -->

{% extends "base.html" %}
{% block title %}Blog{% endblock %}
{% block content %}

<h1>{{ blog.title }}</h1>
<h2>By: {{ blog.author }}</h2>
<h4>Views: {{ blog.views }}</h4>
<h4>Follows: {{blog.follows}}</h4>

{% if entries %}
    <h2>Blog Entries</h2>
    <ul>
    {% for entry in entries %}
        <li>
            <a href="{{ url_for('entry_get', id=entry.id) }}">Entry {{ entry.id }}</a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No entries found in this blog.</p>
{% endif %}

{%if not followed and session.username != blog.author %}
    <a href="{{ url_for('follow_get', id=request.args.get('id')) }}"> <button>Follow Blog</button>
{% endif %}

{% if session.username == blog.author %}
    <a href="{{ url_for('create_get', id=request.args.get('id')) }}">
        <button>Add New Entry</button>
    </a>
{% endif %}

{% endblock %}
