<!--
    Emaan Asif, James Lei, Kiran Soemardjo, Lucas Zheng
    SoftDev 2025
    P00
  -->

{% extends "base.html" %}
{% block title %}Create Entry{% endblock %}
{% block content %}

<h2>Create New Entry</h2>
<form method="POST" action="{{ url_for('create_post', id=id) }}">
    <label for="h2">Header</label>
    <textarea name="h2" placeholder="Entry Header" rows="2" cols="50" required></textarea><br>
    <label for="p">Content</label>
    <textarea name="p" placeholder="Entry Content" rows="10" cols="50" required></textarea><br>
    <input type="submit" value="Create Entry">
</form>

{% endblock %}