{% extends "base.html" %}
{% block title %}Entry{% endblock %}
{% block content %}

{% if entry %}
    <h1>Blog: {{ blog['title'] }}</h1>
    <article>
        {% for field in entry.content %}
        <{{ field["type"] }}>{{ field["content"]|safe }}</{{ field["type"] }}>
        {% endfor %}
        <small>Created on: {{ entry.date_created }}</small>
    </article>
    {% if prev|length > 0 %}
    <a href="{{ url_for('entry_get', id=prev[-1]['id']) }}">Previous Entry</a>
    {% endif %}
    {% if next|length > 0 %}
    <a href="{{ url_for('entry_get', id=next[0]['id']) }}">Next Entry</a>
    {% endif %}
    {% if session.username == blog['author'] %}
    <br><br>
    <a href="{{ url_for('edit_get', id=request.args.get('id')) }}">
        <button>Edit Entry</button>
    </a>
    {% endif %}
{% else %}
    <p>Entry not found.</p>
{% endif %}

{% endblock %}
