{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block content %}

<h2> {{ user }} </h2>

{% if not followed_blogs and not user_blogs %}
    <p>No blogs found. Create or follow a blog to see your blogs.</p>
{% else %}
    {% if user_blogs %}
        <h2>Your Blogs</h2>
        <ul>
        {% for blog in user_blogs %}
            <li>
                <a href="{{ url_for('blog_get', id=blog.id) }}">{{ blog.title }}</a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
    {% if followed_blogs %}
        <h2>Followed Blogs</h2>
        <ul>
        {% for blog in followed_blogs %}
            <li>
                <a href="{{ url_for('blog_get', id=blog.id) }}">{{ blog.title }}</a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endif %}

<form method="post" action="{{ url_for('profile_post') }}">
    <input type="text" name="title">
    <input type="submit" value="Create Blog">
</form>

{% endblock %}
